h1{
color:blue;	
}

body{
	display: flex;
	width: 50vw;
	margin: auto;
	flex-direction: column;
}
ojos{
	display: flex; 
	position: absolute;
	align-self: center;
	align-items: center;
	margin-top: 130px;
}
.main_body{
	display: flex;
	border: 5px solid black;
	width: 300px;
	height: 300px;
	background-color: #F5EE31;
	margin: auto;
	flex-direction: column;
}
.orbita_der{
	border: 5px solid black;
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 100px;
	margin: auto;
	display: flex;
	align-self: center;
	align-items: flex-end;
	margin-left: px;
	margin-right: -15px;

}
.orbita_izq{
	border: 5px solid black;
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 100px;
	margin: auto;
	display: flex;
  	align-self: center;
  	align-items: flex-start;
	margin-right: ;
	margin-left: ;
}
.retina_der{
	border: 3px solid black;
	width: 45px;
	height: 45px;
	background-color: skyblue;
	border-radius: 45px;
	align-self: center;
	float: left;
	margin: auto;
}
.retina_izq{
	border: 3px solid black;
	width: 45px;
	height: 45px;
	background-color: skyblue;
	border-radius: 45px;
	align-self: center;
	float: right;
	margin: auto;
	
}
.pupila_der{
	border: 5px solid black;
	width: 18px;
	height: 18px;
	background-color: black;
	border-radius: 18px;
	align-items: center;
	margin: auto;
	margin-top: 8px;
}
.pupila_izq{
	border: 5px solid black;
	width: 18px;
	height: 18px;
	background-color: black;
	border-radius: 18px;
	align-items: center;
	margin: auto;
	margin-top: 8px;
}
.camisa{
	display: flex;
  	align-items: center;
  	justify-content: center;
	margin: auto;
	border: 5px solid black;
	width: 300px;
	height: 50px;
	background-color: white;
}
.pantalon{
	display: flex;
  	align-items: center;
  	justify-content: center;
	margin: auto;
	border: 5px solid black;
	width: 300px;
	height: 50px;
	background-color: brown;
}
.smile{
	border: 5px solid black;
	width: 200px;
	height: 100px;
	border-radius: 50%;
	margin: auto;
	display: flex;
  	align-self: center;
  	border-top: none;
  	position: absolute;
  	border-right: none;
  	border-left: none;
  	align-items: center;
  	margin-top: 200px;
}
.nariz{
	border: 5px solid black;
	width: 30px;
	height: 50px;
	border-radius: 50%;
	margin: auto;
	display: flex;
  	align-self: center;
  	border-bottom: none;
  	position: absolute;
  	align-items: center;
  	margin-top: 200px;
  	background-color: yellow;
}
.dientes{
	display: flex; 
	position: absolute;
	align-self: center;
	align-items: center;
	margin-top: 130px;
	margin-left: 70px;	
}
.der{
	background-color: white;
	border: solid 5px black;
	width: 20px;
	height: 20px;
}
.izq{
	background-color: white;
	border: solid 5px black;
	width: 20px;
	height: 20px;
	
}
mejillas{
	display: flex; 
	background-color: inherit;
	border: solid 4px orange;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border-bottom: none;
	position: absolute;

}
.mder{
	margin: auto;
}
.mizq{
	margin: auto;
}
